<p>Hey {{ name }},</p>
<p>Please click below to activate your account</p>
<p>
    <form action="{{url}}" method="post">
         <button  type="submit">Activate</button>
    </form>
</p>

<p>If you did not request this email you can safely ignore it.</p>