<div class="questions-list">
  <mat-list>
    <div class="questions-header">
      <h2>Filled in by blood donor!</h2>
      <p>
        Please read the questionaire and answer every question truthfully. The
        questionaire is important for the preservation of your health and the
        safety of the transfusional treatment of patients. Your answers, as all
        the other data about You, are completely classified(doctor's honor) and
        will only be used for the needs of the governed institution for blood
        transfusion.
      </p>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Have you ever voluntarily donated your blood before?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToFirstQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Were you ever rejected as a donor of blood or components of blood?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToSecondQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Do you currently feel healthy, able and rested to donate blood?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToThirdQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Have you eaten anything before coming to donate blood?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToFourthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Is your occupation or hobby dangerous?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToFifthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Do you take any medication on a regular basis?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToSixthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you taken any medication (for example Brufen, Kafetin, Analgin)
          in the past 2, 3 days?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToSeventhQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Do you take Aspirin(Cardiopirin) regularly and have you taken it in
          the last 5 days?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToEighthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you been diagnosed or treated in a hospital or are you currently
          being diagnosed and/or treated?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToNinethQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Have you taken out your tooth in the last week?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you in the last 7 to 10 days experienced a feaver above 38
          degrees, sneezing, the common cold or taken antibiotics?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToEleventhQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Have you received a vaccine or serum in the last 12 months?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwelfthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you experienced substantial weight loss in the last 6 months?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToThirteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you experienced tick bites in the last 12 months and have you
          reported it to the doctor?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToFourteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you ever been treated due to epilepsy, diabetes, asthma,
          tuberculosis, heart attack, stroke, malignant disease, mentail
          disorder or malaria?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToFifteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Are you suffering from any other chronical diseases of the: heart,
          lungs, kidneys, liver, colon and intestine, bones and ankles, nervous
          sistem, blood or blood vessels?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToSixteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you ever had issues with the thyroid gland, pituitary gland
          and/or are taking hormones?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToSeventeenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Do you suffer abrupt changes on the skin, have allergies?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToEighteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Do you experience prolonged bleeding when injured and do you
          spontaneously bruise?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToNineteenthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you in the last 6 months underwent surgery and/or been donated
          blood?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwentiethQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Did you suffer from hepatitis A, B or C?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwentyFirstQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>Have you had sexual relations with a person who is HIV positive?</p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwentySecondQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you had sexual relations with a person who has hepatitis B or C?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwentyThirdQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="question-item">
      <div class="question-text">
        <p>
          Have you had sexual relations with a person who was payed either with
          money or narcotics for sexual services?
        </p>
      </div>
      <div class="question-answer">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="answerToTwentyFourthQuestion">
          <mat-radio-button [value]="true" [disabled]="this.isQuestionairePopulated">Yes</mat-radio-button>
          <mat-radio-button [value]="false" [disabled]="this.isQuestionairePopulated">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <button mat-stroked-button color="warn" *ngIf="!this.isQuestionairePopulated" (click)="submitAnswers()">Submit</button>
  </mat-list>
</div>
